<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('partials/header') %>

  <main>

    <div class ="fooddiv">
      <h2 id="menuhead">Today's special</h2>

      <% menuItems.forEach((item) => { %>
      <div class="menu-tiles">
        <div class="food-img-container">
          <img class="food-img"
            src="<%= item.thumbnail_url %>">
        </div>
        <div class="desc-order-container">
          <div class="title"><%= item.name %></div>
          <div class="description"><%= item.description %></div>
          <div class="food-type"><%= item.category %></div>
          <div class="price"><%= item.price %>C$</div>
          <div class="add-to-basket"><a href="#" onclick="addToBasket('<%= item.id%>', '<%= item.name%>', '<%= item.price%>')">Add to basket</a></div>
        </div>
      </div>
      <% }) %>

    </div>

    <div class ="infodiv">
      <h3 class="paradesc">Exquisite Italian Delights</h3>
      <div>
        <p class="paradesc">Renowned Italian restaurant for excellence, has 35 locations worldwide.We feature Italian family recipes passed down from generations and adapted by master chef Alfredo Linguini and his team of gourmet chefs. The wonderful dishes include creative types of pasta, pizza, risotto, and many other delicious dishes. All are brought to life with locally- grown produce and fresh ingredients. The savory and delicious desserts demonstrate our passion for food. An extensive fruit drinks list will please the most discerning palate.</p>
      </div>
    </div>

  </main>
  <%- include('partials/footer') %>

</body>

</html>
